{% comment %}
Render a flat list from a pre-filtered array of docs (e.g., site.members).
Usage: {% include list_records.html records=array component="portrait" %}
{% endcomment %}

{% assign data = include.records | default: empty %}

{% for d in data %}
  {% assign style = d.style | default: include.style %}
  {%
    include {{ include.component | append: ".html" }}
    author=d.author
    authors=d.authors
    buttons=d.buttons
    caption=d.caption
    catalog-description=d.catalog-description
    content=d.content
    date=d.date
    description=d.description
    excerpt=d.excerpt
    height=d.height
    icon=d.icon
    id=d.id
    image=d.image
    last_modified_at=d.last_modified_at
    link=d.link
    lookup=d.lookup
    name=d.name
    publisher=d.publisher
    repo=d.repo
    role=d.role
    semester=d.semester
    slug=d.slug
    style=style
    subtitle=d.subtitle
    tags=d.tags
    text=d.text
    title=d.title
    tooltip=d.tooltip
    type=d.type
    url=d.url
    width=d.width
  %}
{% endfor %}
